elpa/
private/
semanticdb/
transient/
url/
.mc-lists.el
ede-projects.el
smex-items
init.el~
.custom.el
.persistent-scratch
tramp
eshell/
*.elc
emojis/
image-dired/
persp-confs/
projectile-bookmarks.eld
.lsp-session-v1
elpy/
.python-environments/
.achievements
