elpa/
private/
semanticdb/
transient/
url/
.mc-lists.el
ede-projects.el
smex-items
init.el~
.custom.el
.persistent-scratch
tramp
eshell/
*.elc
emojis/
image-dired/
persp-confs/
projectile-bookmarks.eld
.lsp-session-v1
elpy/
.python-environments/
.achievements
/request/
/org-jira/
/diary
/forge-database.sqlite
/.litable-lists.el
/irony/
/.org-id-locations
/meghanada/
/eglot-eclipse-jdt-cache/
/eln-cache/
/speed-type/
/grammalecte-cache.el
/projects
/recentf
