[submodule "elisp/extlisp/php-extras"]
	path = elisp/extlisp/php-extras
	url = git://github.com/arnested/php-extras.git
[submodule "elisp/extlisp/auto-activating-snippets"]
	path = elisp/extlisp/auto-activating-snippets
	url = git@github.com:ymarco/auto-activating-snippets.git
[submodule "elisp/extlisp/carp-emacs"]
	path = elisp/extlisp/carp-emacs
	url = git@github.com:carp-lang/carp-emacs.git
[submodule "elisp/extlisp/v-mode"]
	path = elisp/extlisp/v-mode
	url = git@github.com:Tiv0w/v-mode.git
[submodule "elisp/extlisp/screenshot"]
	path = elisp/extlisp/screenshot
	url = https://github.com/tecosaur/screenshot
